:root {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Mono', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

#content {
  max-width: 50rem;
  margin: 0 0 10rem 10rem;
}

.Nm {
  font-style: normal;
  font-family: inherit;
  font-weight: bold;
}

.Fn {
  font-family: inherit;
  font-weight: bold;
}

h1.Sh {
  margin-left: -2em;
}

h1 a, h2 a {
  color: inherit;
  text-decoration: none;
}

code pre {
  padding: 1em;
  border: 1px solid #ddd;
}
